/*@font-face {*/
/*    font-family: OptimusPrinceps;*/
/*    src: url('/font/roboto/OptimusPrinceps.tff');*/
/*}*/
body{
    /*text-transform:capitalize;*/
}

.selected_row{
    background-color: #b3c9f5 !important;
}
.fixed-sn main{
    display: block;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding:100px 0;
    padding-bottom:100px;
}

/*.card-body,.tab-content{*/
/*    padding-top: 100px !important;*/
/*    padding-bottom: 121px !important;*/
/*}*/

.no-sort::after { display: none!important; }
.no-sort::before { display: none!important; }

/*.no-sort { pointer-events: none!important; cursor: default!important; }*/

.fixed-sn #content{
    padding-left:0px;
}
#content #slide-out{
    transform:translateX(-100%);
}
.table-bordered {
    margin-top:10px;
}
.table-add{
    position:relative;
    top:14px;
}
.text-success{
    color: #38c172 !important;
}
.text-success:hover{
    color: #00953c!important;
}
.cascading-admin-card .admin-up .data p{
    font-size:15px;
    color:#212529;
}
.font-weight-500{
    font-weight:400;
}


/*********footer css ********/

.unset_capital
{
    text-transform: unset !important;
}
.modal {
    overflow-y:auto;
}
.dropdown_menu_width
{
    width: 215px !important;left:-2px !important;top: -27px !important;
}
footer.page-footer
{
    bottom: 0;
    color: #fff;
    position: fixed;
    width: 100%;
    text-align: left;
    z-index: 100000;
}
.md-toast-error
{
    opacity:0.9 !important;
}
.disable_href
{
    pointer-events: none;
    cursor: default;
}
.question_span
{
    font-size: 1rem;
    color: #757575;
}
.active_custom > a
{
    color: black;
}
.z-index
{
    overflow: hidden;
}
.mt-10
{
    margin-top: 4rem !important;
}
footer
{
    padding-left: unset !important;
}
main {
    height: 100%;
}
.model_width
{
    width: 50%;
}
.loader_top
{
    top: 53%;
}
.loader{
    position: absolute;
    z-index: 1000;
    left: 47%;
    width: 40px;
    height: 40px;
    display: none;
}
.back {
    background-color: #f1f1f1;
    color: black;
    margin-right: 19px;
}
.traning_font{
    font-size: 28px;
}
.mt-4-5 {
    margin-top: 2.5rem !important;
}
.white_color
{
    color: #fff !important;
}
.red_color_m
{
    color: red !important;
}
.green_color
{
    color: green !important;
}
.orange_color
{
    color: orange !important;
}

.r_red_color
{
    color: red !important;
}
.form_group_background
{
    background-color:#4285F4 !important;
}
#footer
{
    position: fixed;
    width: 100%;
    /* left: 0; */
    bottom: 0;
}
.page-footer {
    margin-top: 15rem !important;
}
.badge {
    font-size: 100% !important;
}
table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #B0BED9 !important;
}
input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
/* Disable browser close icon for Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/*********footer css end********/



@media screen and (min-width:1440px){
 .double-nav .button-collapse{
    display:block;
    padding-left:20px;
    bottom:20px ;
}

}
@media screen and (max-width:1440px){
.padding-left-custom{
    width:100%;
    max-width:90%;
    margin:0 0 0 auto;
}
}
@media screen and (max-width:900px){
.padding-left-custom{

    max-width:80%;

}
}

@media screen and (max-width:800px){
.form-row{
    flex-flow:column;
}
.fixed-sn main{
    max-width:100%;
}



}

@media screen and (max-width:1212px){
    .table-bordered tbody tr td:last-child{
        text-align:center;
        width:15%;

    }
    .table-bordered tbody tr td:last-child a{
        /*margin-bottom:7px;*/
    }
    .table-bordered{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

}
