#form_data>tr>td:nth-child(5)>a{
    margin: 1%;
}

#form_data>tr>td:nth-child(5){
    width: 30% !important;
    text-align: center;
}

#form_data>tr>td:nth-child(1){
    width: 5% !important;
    text-align: center;
}
#title_required_message{
    position: absolute;
    top: 98%;
    left: 4%;
    font-size: 11px;
}


#form_group_data>tr>td:nth-child(2),#form_group_data>tr>th:nth-child(2){
    width: 1.5% !important;
    text-align: left !important;
}

.dataTables_info{
    display: none !important;
}

.active_plus_btn{
    width: 100px;
    height: 50px;
    position: fixed;
    top: 70%;
    left: 93.7%;
    z-index: 10000;
}


.active_plus_btn>ul{
    list-style: none;
    display: inline-block;
}
.active_plus_btn>ul>li {
    display: inline-block;
    /*margin-bottom: 20px;*/
}

.active_plus_btn_icon{
    /*font-size: 18px;*/
    margin: auto;
}
.active_plus_btn_link{
    background-color: #4c8bf5;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 100%;
}
.form_btn_circle:nth-child(1){
    margin-right: 5px;
}
.hide_tick_btn{
    display: none;
}

.form_btn_circle{
    border-radius: 50%;
    border: 1px solid white;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: 5px;
    text-align: center !important;
}
.abswer_label_radio{
    padding-left:27px !important;
}
.btn-padding{
    padding: 0rem !important;
}
.document_folder_inside_th,.document_folder_inside_td{
    width: 15% !important;
    text-align: center !important;
    background-color: red;
}

.completed_forms>tbody>tr>td:nth-child(1){
    width: 8% !important;
    text-align: center !important;
}

.abswer_label_checkbox {
    width: 100% !important;
    text-align: left !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-left:10px !important;
    display: inline-block !important;
}

.verticla_abswer_label_radio::before{
    top: 25% !important;
}
.abswer_label_checkbox_verticle::before{
    top: 25% !important;
}


.abswer_label_radio {
    width: 100% !important;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

#form_name_required_message{
    position: absolute;
    top: 97%;
    left: 4%;
    text-transform: initial;
}

.check_size,.action_size{
    width: 7% !important;
    text-align: center;
}

.action_size_2btn{
    width: 12% !important;
    text-align: center;
}

.form_group_data_td{
    width: 2% !important;
    text-align: center;
}
