/*********style for checkboxes and action start****************/

.all_action_btn{
    width: 11% !important;
    text-align:center !important;
}
.all_action_btn_extra{
    width: 15% !important;
    text-align:center !important;
}

.action_btn{
    width: 10% !important;
}
.all_action_btn_margin{
    margin-left: 6px !important;
}

.col_text_style{
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.edit_form_labels{
    margin-left: 40px !important;
}
.edit_form_labels_selectdropdown>.select-wrapper{
    width: 93% !important;
    margin-left: auto;
}
.all_checkboxes_style{
    width: 7% !important;
}
table{
    width:100% !important;
}
.all_name_style{
    width: 74% !important;
}
.form-custom-boutton{
    margin-left: unset!important;
    padding: 0.3rem!important;
}
/*********style for checkboxes and action end****************/

.color-white{
    color: #ffffff;
}
.active_custom
{
    color: #212529 !important;
}
.custom_breadcrum
{
    color: #3490dc !important;
}
#document>tbody>tr>td:nth-child(5)>a{
    margin: 1%;
}

/*.form_type_text_field{*/
/*    margin-top:0rem !important;*/
/*    padding-top: 0px !important;*/
/*}*/

#document>tbody>tr>td:nth-child(5){
    width: 30% !important;
}


/*.sorting_1{*/
/*    width: 15% !important;*/
/*}*/

.modalPopulate_btn{
    width: 30px;
    border: 1px solid #38c172;
    height: 30px;
    display: block;
    text-align: center;
    border-radius: 50%;
    margin-top:9px;
}
.modalPopulate_btn_icon{
    margin-top: 2px;
    font-size:1.5em !important;
}
#project_table>tbody>tr>td{
    color: white!important;
}
.remove-all-styles {
    all: revert;
}
#project_table>tbody>tr>td{
    color: black !important;
}


.form-check-input {
    position: absolute !important;
    pointer-events: none !important;
    opacity: 0!important;
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 75% !important;
    }
}

.answer_text_color{
    color:#858585;
}
.margin_lebel{
    margin-left:-5px;
}
.margin_lebel_comment{
    margin-left:40px !important;
}
.addresstype_checked_section,.addresstype_checked{
    padding-left: 0rem !important;
}

#modalContactTypeIndexpage
{
    z-index:1100;
}

.selected
{
    background-color: #B0BED9 !important;
}


#document>tbody>tr>td:nth-child(5)>a{
    margin: 1%;
}
.form_type_btn{
    padding: 10px 13px!important;
}
#document>tbody>tr>td:nth-child(5){
    width: 30% !important;
}

.model_tasktype
{
    z-index: 1100;
}




.nav-select{
    margin-left: 3rem !important;
    width: 40%;
}
.white-color
{
    color:#fff;
}
.card-title
{
    padding: 2%;
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    transition: all 1s;
}
.all_document_action_style{
    width:20% !important;
}
td.equipment_data_action{
    width: 100% !important;
    display:flex !important;
}
td.equipment_data_action>a:nth-child(2){
    margin-left:10px;
}
.expired
{
    background-color: #fc685f !important;
}

#employee_document_table>tbody>tr>td>a{
    margin: 3px !important;
}

.col_left_margin {
    margin-left: 2.5rem !important;
}
td{
    text-align:left !important;
}
#myTabMD
{
    background-color: #33b5e5;
}
#loading_gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.custom_dynamic_height>div>div>div>div{
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    padding-right: 6px;
}

#answer_group_data>tr>td:nth-child(2){
    width: 19%;
    text-align: center;
}
#answer_group_data>tr>td:nth-child(2)>span{
    margin: 2%;
}
.img-class{
    width: 35px !important;
    max-width:100% !important;
    vertical-align: baseline !important;
}
.col-img-padding{
    padding-left: 0px !important;
}

.abswer_label_checkbox {
    width: 160px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abswer_label_radio {
    width: 100px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
.hover:hover span {
    max-width: 7rem;
}
.active_plus_btn_text{
    font-size: 16px !important;
    font-family: Roboto, Sans-Serif;
    font-weight: 400;
    line-height: 25px !important;
    margin-top: -4px;
}
.form_btn_circle>.fa-minus{
    margin-top: 6px;
}
.form_btn_circle>.fa-plus{
    margin-top:6px;
}
.form_btn_circle{
    vertical-align:middle;
}
.multiple-select-dropdown li [type="checkbox"] + label {
    height: 1.3rem !important;
}
.multiple-select-dropdown>.dropdown-content li{
    line-height: 2rem !important;
}

.label_class {
    margin-left: 0px;
}
.red_color
{
    background-color: red !important;
}
/*.img_style{*/
/*    margin-left: -50px;*/
/*}*/
.img_style_verti
{
    margin-left:30px;
}
.img_style_verti_check
{
    margin-left: 30px;
    margin-bottom: 5px;
}

.nav-select{
    margin-left: 26rem !important;
    width: 20%;
    margin-top: 2px;
    margin-bottom: -15px;
}
.white-color
{
    color:#fff;
}
#pdf-viewer,#pdf-viewer-static
{
    height: 700px;
}

.form_alignment{
    width: 96%;
    margin: auto !important;
}

.radio_checkbox_label{
    width: 100px !important;
    text-align: left !important;
    /*overflow: hidden !important;*/
    /*text-overflow: ellipsis !important;*/
}


.view_register-form-check{
    padding-right: 10px;
    margin-top: 15px;
}
.word_limit , .word_limit >*
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
    height: auto !important;
}
