
.signature_font{
    font-family: 'Gloria Hallelujah', cursive;
}
.nav-select{
    margin-left: 3rem !important;
    width: 40%;
}
.white-color
{
    color:#fff;
}
.card-title
{
    padding: 2%;
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    transition: all 1s;
}
#myTabMD
{
    background-color: #33b5e5;
}
#loading_gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.custom_dynamic_height>div>div>div>div{
    padding-bottom: 6px !important;
    padding-top: 6px !important;
    padding-right: 6px;
}

#answer_group_data>tr>td:nth-child(2){
    width: 19%;
    text-align: left;
}
#answer_group_data>tr>td:nth-child(2)>span{
    margin: 2%;
}
.img-class{
    width: 35px !important;
    max-width:100% !important;
    vertical-align: baseline !important;
}
.col-img-padding{
    padding-left: 0px !important;
}

.abswer_label_checkbox {
    width: 160px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hover span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
.hover:hover span {
    max-width: 7rem;
}
.active_plus_btn_text{
    font-size: 16px !important;
    font-family: Roboto, Sans-Serif;
    font-weight: 400;
    line-height: 25px !important;
    margin-top: -4px;
}
.form_btn_circle>.fa-minus{
    margin-top: 6px;
}
.form_btn_circle>.fa-plus{
    margin-top:6px;
}
.form_btn_circle{
    vertical-align:middle;
}
.multiple-select-dropdown li [type="checkbox"] + label {
    height: 1.3rem !important;
}
.multiple-select-dropdown>.dropdown-content li{
    line-height: 2rem !important;
}
/*.img_style{*/
/*    margin-left: -50px;*/
/*}*/
.img_style_verti
{
    margin-left:30px;
}
.img_style_verti_check
{
    margin-left: 30px;
    margin-bottom: 5px;
}


.all_checkboxes_style_dynamicform{
    width:7% !important;
}
.all_name_style_dynamicform{
    width: 43% !important;
}
.all_action_btn_dynamicform{
    width: 11% !important;
}
