
body{
  background:#f5f5f500 !important
}

.card {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0) !important;
}
.card-footer{
    background-color: rgba(0, 0, 0, 0) !important;
    margin-bottom: 10px;
}
.section_custom_height{
    padding: 0rem !important;
    padding-top: 1rem !important;
}
.white-skin .form-header, .white-skin .card-header>span,.white-skin .btn-primary{
    color: #fff;
    font-size: 20px;
}
.fixed-sn main{
    padding:30px !important;
}

@media print {
    @page { margin: 0; }
    body { margin: 0.6cm; }
}

.card{
    border:0px !important;
}
#content>header,footer{
    display:none;
}
.nav-select{
    margin-left: 3rem !important;
    width: 40%;
}
.white-color
{
    color:#fff;
}
.card-title
{
    padding-top: 2%;
    padding-left: 1%;
}
.md-tabs .nav-link.active, .md-tabs .nav-item.open .nav-link {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    transition: all 1s;
}
#myTabMD
{
    background-color: #33b5e5;
}
#loading_gif {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
.custom_dynamic_height{
    overflow: visible !important
}
.custom_dynamic_height>div>div>div>div{
    padding: 0rem !important;
    padding-top: 6px !important;
    padding-right: 6px;
}
.section_custom_height>.card{
    margin:0px !important;
}
.card-header{
    padding:0.75rem 0.75rem !important;
}
.form-check-input[disabled]~.form-check-label, .form-check-input:disabled~.form-check-label{
    color:black !important;
}

.md-form input:not([type]), .md-form input[type="text"]:not(.browser-default), .md-form input[type="password"]:not(.browser-default), .md-form input[type="email"]:not(.browser-default), .md-form input[type="url"]:not(.browser-default), .md-form input[type="time"]:not(.browser-default), .md-form input[type="date"]:not(.browser-default), .md-form input[type="datetime"]:not(.browser-default), .md-form input[type="datetime-local"]:not(.browser-default), .md-form input[type="tel"]:not(.browser-default), .md-form input[type="number"]:not(.browser-default), .md-form input[type="search"]:not(.browser-default), .md-form input[type="search-md"], .md-form textarea.md-textarea,.select-wrapper input.select-dropdown{
    border-bottom:1px solid #ced4da00 !important;
}

.select-wrapper input.select-dropdown:disabled{
    color:black !important;
}
span.caret{
    display:none !important;
}
.form-check-input[type="checkbox"]:checked:disabled + label:before, label.btn input[type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid #4285f4 !important;
    border-bottom: 2px solid #4285f4 !important;
}
#answer_group_data>tr>td:nth-child(2){
    width: 19%;
    text-align: center;
}
#answer_group_data>tr>td:nth-child(2)>span{
    margin: 2%;
}
.img-class{
    width: 35px !important;
    max-width:100% !important;
    vertical-align: baseline !important;
}
.col-img-padding{
    padding-left: 0px !important;
}

.abswer_label_checkbox {
    width: 160px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.abswer_label_radio {
    width: 100px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hover span {
    max-width: 0;
    -webkit-transition: max-width 1s;
    transition: max-width 1s;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}
.hover:hover span {
    max-width: 7rem;
}
.active_plus_btn_text{
    font-size: 16px !important;
    font-family: Roboto, Sans-Serif;
    font-weight: 400;
    line-height: 25px !important;
    margin-top: -4px;
}
.form_btn_circle>.fa-minus{
    margin-top: 6px;
}
.form_btn_circle>.fa-plus{
    margin-top:6px;
}
.form_btn_circle{
    vertical-align:middle;
}
.multiple-select-dropdown li [type="checkbox"] + label {
    height: 1.3rem !important;
}
.multiple-select-dropdown>.dropdown-content li{
    line-height: 2rem !important;
}
/*.img_style{*/
/*    margin-left: -50px;*/
/*}*/
.img_style_verti
{
    margin-left:30px;
}
.img_style_verti_check
{
    margin-left: 30px;
    margin-bottom: 5px;
}

.nav-select{
    margin-left: 26rem !important;
    width: 20%;
    margin-top: 2px;
    margin-bottom: -15px;
}
.white-color
{
    color:#fff;
}
#pdf-viewer,#pdf-viewer-static
{
    height: 700px;
}

.form_alignment{
    width: 96%;
    margin: auto !important;
}

.radio_checkbox_label{
    width: 100px !important;
    text-align: left !important;
    /*overflow: hidden !important;*/
    /*text-overflow: ellipsis !important;*/
}
